@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  /* border-bottom: 1.6rem solid #edc84b; */
  min-height: 100vh;
  /* padding: 0 3.2rem 6rem 3.2rem; */
  /* padding-bottom: 6rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
